  matplotlib>=3.5
  numpy>=1.17
  scipy>=1.6
  numba==0.56.4
  netcdf4<=1.6.1
  ffmpeg
  pyproj>=2.3
  xarray
  dask
  cfgrib
  pygrib
  xhistogram
  requests
  pykdtree
  pytest
  pytest-cov
  pytest-benchmark
  pytest-mpl
  cartopy>=0.20
  nc-time-axis
  geojson
  pynucos>=2.12
  isodate
  coloredlogs
  cmocean
  utm
  roaring-landmask>=0.7
  trajan>=0.1.3
